/* COMMON */

body {

    background-color: #354649;

}

a {

    text-decoration: none;
    color: #E0E7E9;

}

.material-icons.md-48 { font-size: 48px; }

/* HIGHLIGHT */

.highlight0 { color: #ED7458; }
.highlight1 { color: #FFDC9F; }
.highlight2 { color: #8E7C68; }
.highlight3 { color: #DDC9BC; }

/* HEADER */

header .inner {

    position: fixed;

    width: 140px;
    height: 800px;

    border-radius: 30px;
    margin-top: calc((100vh - 800px)/2);

    left: -40px;

    background-color: #5a6a6d;

    transition: left 0.5s;

    z-index: 99;

}

header .hide {
    
    left: -140px;
    transition: left 0.5s;

}

/* MENU */

.menu {

    margin: auto 0;

    position: absolute;
    color: #E0E7E9;

    top: 0;
    left: 0;

    z-index: 1;
    
}

.menu td {
    
    text-align: center;
    vertical-align: middle;

}

.menu .menu__txt {

    font-size: 13px;
    letter-spacing: 1px;

}

.menu__blank { width: 40px; }

.menu__content {
    
    width: 100px;
    height: 200px;
    
}

/* hover animation */

.light {

    margin: auto 0;

    box-sizing: border-box;

    position: absolute;
    color: #354649;

    top: 0;
    left: 0;

}

.light td { 
    
    display: inline-block;
    position: absolute;

}

/* X hover X */

.light .active td{

    left: 87px;

    opacity: 100;
    font-size: 1px;
    transition: all 0.8s, font-size 0.8s, opacity 1s;

}

.light .home.active td {
    top: 75px;
    transition: all 0.8s;
}
.light .intro.active td {
    top: 285px;
    transition: all 0.8s;
}
.light .skill.active td {
    top: 490px;
    transition: all 0.8s;
}
.light .project.active td {
    top: 690px;
    transition: all 0.8s;
}

/* O hover O */

.light .select td{ 

    left: 33px;
    
    opacity: 100;
    font-size: 110px;
    transition: all 0.8s, font-size 0.8s, opacity 1s;

}

.light .home.select td {
    top: 18px;
    transition: all 0.8s;
}
.light .intro.select td {
    top: 221px;
    transition: all 0.8s;
}
.light .skill.select td {
    top: 425px;
    transition: all 0.8s;
}
.light .project.select td {
    top: 630px;
    transition: all 0.8s;
}

/* menu animation */

header .inner .btn {

    position: absolute;
    left: 100px;
    z-index: -1;

    display: block;

    width: 70px;
    height: 70px;

    border-radius: 10px;

    background-color: #5a6a6d;

}

header .inner.hide .btn {

    position: absolute;
    right: -30px;

}

header .inner .btn .btn__hide {

    visibility: visible;
    z-index: 1; 

}
header .inner.hide .btn .btn__hide {

    visibility: hidden;
    z-index: -1; 

}

header .inner .btn .btn__show { visibility: hidden; }
header .inner.hide .btn .btn__show { visibility: visible; }

.btn .btn__area {

    position: absolute;

    right: 0;
    top: 20px;

    font-size: 20px;
    color: #354649;

}

.inner .btn .btn__showText { opacity: 100;}
.inner .btn .btn__showText {

    position: absolute;

    top: 80px;
    right: 0px;

    color: #5a6a6d;
    opacity: 100;

    font-size: 20px;
    font-weight: 800;

    writing-mode: vertical-lr;
    letter-spacing: 2px;

}