/* MAIN */

.main {

    position: relative;
    overflow: hidden;

    top: 0;
    left: 0;
    
    width: 90vw;
    height: 90vh;

}

/* .main__bg {
    
    background-image: linear-gradient(
        #354649e5,
        #354649e5
      ), url("../assets/main.jpg");
    background-size: 200%;
    background-repeat: no-repeat;


    z-index: -1;

} */

/* BEFORE LOAD */

.main.load .main__title1 {
    
    position: absolute;
    overflow: hidden;

    opacity: 0;

    top: 150px;
    left: 450px;

}
.main.load .main__title2 {

    position: absolute;
    overflow: hidden;

    opacity: 0;

    top: 150px;
    left: 770px;

}
.main.load .main__content {

    position: absolute;

    top: 400px;
    left: 800px;

    opacity: 0;

}

/* HELLLO, WORLD */

.main__title1 {

    
    position: absolute;
    overflow: hidden;

    top: 200px;
    left: 500px;

    width: 300px;
    height: 150px;

    opacity: 100;
    background-color: #ED7458;

    transition: top 1s, left 1s, opacity 1s;

}
.main__title2 {

    
    position: absolute;
    overflow: hidden;

    top: 200px;
    left: 820px;

    width: 400px;
    height: 150px;

    opacity: 100;

    transition: top 1s, left 1s, opacity 1s;

}

.title1 {

    position: absolute;

    right: -10px;
    margin: auto 0;

    font-size: 100px;
    font-weight: 800;
    letter-spacing: 2px;

    font-family: 'Lobster', cursive;

    /* 글자색 투명하게 처리 */
    color: transparent;
    background-color: #354649;
    background-size: 200%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;

}
.title2 {

    position: absolute;

    font-family: 'Lobster', cursive;
    
    margin: auto;

    font-size: 100px;
    font-weight: 800;
    letter-spacing: 2px;

    color: #ED7458;

}

/* CONTENT */

.main__content {

    position: relative;

    top: 400px;
    left: 840px;

    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 23px;
    
    color: #E0E7E9;
    opacity: 100;

    width: 1000px;
    height: 400px;
    
    transition: left 2s, opacity 2s;

}

.subtitle {

    position: absolute;
    
    top: 0px;
    left: 0px;
    
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 4px;

    font-size: 25px;
    font-weight: 800;

}

.desc {

    position: absolute;

    top: 100px;
    left: 0px;

    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 4px;
    line-height: 25px;
    font-size: 17px;
    font-weight: 500;

}